@model IEnumerable<ListaDeJogos.Models.Jogo>


@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.4/html2canvas.min.js"></script>
<script src="C:\Users\edos0\source\repos\ListaDeJogos\ListaDeJogos\wwwroot\js\site.js" asp-append-version="true"></script>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                Jogo
            </th>
            <th>
                Gênero
            </th>
            <th>
                Empresa
            </th>
            <th>
                Zerou
            </th>
            <th>
                Dia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zerou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZerou)
            </td>
            <td>
                <a href="@Url.Content("~/Jogos/Edit/" + @item.Id)"> <i style="color:#414A4C" class="fa fa-edit" aria-hidden="true"></i></a> |
                <a href="@Url.Content("~/Jogos/Delete/" + @item.Id)"> <i style="color:#FF7276" class="fa-solid fa-trash-can" aria-hidden="true"></i></a>     
            </td>
        </tr>
}      
    </tbody>
</table>

<a asp-controller="Jogos" asp-action="Create" class="btn btn-dark">Adicionar mais</a>
<input type="button" value="Capturar" class="btn btn-outline-dark" onclick="capture()"/>
